<h2 id="title">Welcome to Ember.js</h2>

{{my-select
  content=model
  optionLabelPath="label"
  optionValuePath="value"
  value=controllsValue
  action=(action (mut controllsValue))
  prompt="please select."
  }}

<p>{{controllsValue}}</p>
<p><button {{action 'setValue' null}}>clear value.</button><button {{action 'setValue' 1}}>value is 1.</button><button {{action 'setValue' 2}}>value is 2.</button></p>
{{outlet}}
